*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#button{
    display: none;
}
.Main{
    display: flex;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.Nav{
    display:flex;
    justify-content:flex-end;
    background-color: skyblue;
    width: 100%;
    font-size: 20px;
}
.Nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
    transition: .5s;
}
.Nav a:hover{
    color:sandybrown;
    font-size: larger;
}
.three_columns{
    position: absolute;
    padding: 20px;
    transition: .5s;
    background-color: blanchedalmond;
    width: 300px;
    z-index: 1;
    left:-300px;
    height: 600px;
}
.nine_columns{
    position: relative;
    right: -150px;
    transition: .5s;
}
.three_columns:hover{
    left: 0px;
}
.three_columns.A{
    left : 0px;
}
#graph{
    width: 1000px;
    height: 600px;
    transition: .3s;
}
#fix{
    position: relative;
    top: 60px;
    left: 65%;
    background-color: cadetblue;
}
#fix.click{
    background-color: orange;
}
.three_columns:hover + .nine_columns {
    right: -310px;
}
.three_columns:hover + .nine_columns #graph{
    width: 1000px;
    height: 500px;
}
.three_columns.A + .nine_columns{
    right: -310px;
}
.three_columns.A + .nine_columns #graph{
    width: 1000px;
    height: 500px;
}