*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#button{
    display: none;
}
.Main{
    display: flex;
    margin: 0;
    position: relative;
    width: 100%;
}
.Nav{
    display:flex;
    justify-content:flex-end;
    background-color: skyblue;
    width: 100%;
    font-size: 20px;
}
.Nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
    transition: .5s;
}
.Nav a:hover{
    color:sandybrown;
    font-size: larger;
}
.three_columns{
    position: absolute;
    padding: 20px;
    transition: .5s;
    background-color: blanchedalmond;
    width: 300px;
    z-index: 1;
    left:-300px;
    height: 100%;
}
.nine_columns{
    position: relative;
    right: -110px;
    transition: .5s;
}
.three_columns:hover{
    left: 0px;
}
.three_columns:hover + .nine_columns {
    right: -310px;
}